.BoardContainer {
  display: flex;
  flex-direction: row;
}

.ButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.Button {
  width: 8vw;
  height: 4vw;
  margin-left: 20px;
  margin-right: 20px;
}

.PlayerOne {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 65vh;
  justify-content: center;
}

.PlayerTwo {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 65vh;
  justify-content: center;
}